$core-black : #000;
$core-black-orange: #ff7900;
$core-black-white: #fff;
$core-black-grey: #999;

$core-white: #fff;
$core-white-orange: #f16e00;
$core-white-black: #000;
$core-white-grey: #666;

$core-orange: #ff7900;
$core-orange-black: #000;

$core-grey: #595959;
$core-grey-white: #fff;

$functional-grey-1: #333;
$functional-grey-2: #666;
$functional-grey-3: #999;
$functional-grey-4: #ccc;
$functional-grey-5: #ddd;
$functional-grey-6: #eee;


$supporting-blue: #4bb4e6;
$supporting-green: #50beb7;
$supporting-pink: #ffb4e6;
$supporting-purple: #a885d8;
$supporting-yellow: #ffd200;
