@import "src/styles/colors";
@import "src/styles/fonts";

.title {
  display: flex;
  color: $core-white-orange;
  background-color: $functional-grey-6;
  height: 100%;
  padding: 0.5rem;
  &-description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      padding: 0;
      margin: 0;
      align-items: center;
      justify-content: center;
    }
  }
}




